<mat-form-field>
  <input matInput placeholder="Nombre" [(ngModel)]="comida.nombre">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Precio" [(ngModel)]="comida.precio" type="tel">
</mat-form-field>

<button mat-button color="primary" onclick="document.getElementById('fileToUpload').click()">Seleccionar archivo</button>
<input id="fileToUpload" type="file" (change)="selectFile($event)" style="display:none;">
<img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%"/>
<p>{{labelFile}}</p>


<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
